/*.formy-input {
	border: 1px solid #999;
	padding-left: 3px;
	border-radius: 3px;
    height: 34px;
}*/

.form-control.error {
	border: 1px solid red;
}

.formy-addon.input-group-addon {
    background-color: inherit;
    border: 0;
}

.formy-value {
    width: 100%;
    text-align: left;
    white-space: normal;
}

.formy-value.not-clickable {
    cursor: default;
}

.formy-value pre {
    border: none;
    background: inherit;
}

.form-inline .formy-value {
    display: inline-block;
    height: 37px;
    width: auto;
}

.form-inline .formy-icon {
    display: none;
}

.react-datepicker__input-container {
    width: 100%;
}
.input-group .formy-input.form-control {
    border-radius: 4px;
}

.react-datepicker__current-month {
    font-size: 1.4rem;
}

div.react-datepicker {
    font-family: inherit;
    font-size: 1.4rem;
}

div.react-datepicker__day-name, div.react-datepicker__day {
    margin: 0.7rem;
}

div.react-datepicker__current-month {
    font-size: 1.4rem;
}

a.react-datepicker__navigation {
    border: 0.7rem solid transparent;
}

a.react-datepicker__navigation.react-datepicker__navigation--next {
    border-left-color: #999;
}

a.react-datepicker__navigation.react-datepicker__navigation--previous {
    border-right-color: #999;
}